<ion-header>
  <ion-toolbar>
    <ion-title>Scroll Infinito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of lista; let i= index">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + i" alt="avatar" />
      </ion-avatar>
      <ion-label>{{ item }}</ion-label>
    </ion-item>
  </ion-list>
 
 <ion-infinite-scroll  position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
