 

  <ion-grid fixed>
    <ion-row>
      <ion-col size = "12" size-md="4" *ngFor="let item of listaRec1; let index"> 
        <ion-card>
          <ion-card-header>
           <ion-card-subtitle>Precio: {{item.precio}}</ion-card-subtitle>
           <ion-card-title>Titulo: {{item.titulo}} </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
            <ion-img  src ="https://source.unsplash.com/random"></ion-img> 
            <!-- <ion-img  [src] ="'https://picsum.photos/80/80?random=' + index"></ion-img> -->
        
           <ion-list lines="inset">
             <ion-item>
               <ion-label><strong>Descripcion</strong></ion-label>
               <ion-label>{{item.descripcion}}</ion-label>
             </ion-item>
             <ion-item>
               <ion-label><strong>Formato</strong></ion-label>
               <ion-label>{{item.tipo}}</ion-label>
             </ion-item>
             <ion-item>
               <ion-label><strong>Slug</strong></ion-label>
               <ion-label>{{item.slug}}</ion-label>
             </ion-item>
           </ion-list> 
          </ion-card-content>
         </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>


  <!-- <ion-card *ngFor="let item of listaRec1">
   <ion-card-header>
    <ion-card-subtitle>Precio: {{item.precio}}</ion-card-subtitle>
    <ion-card-title>Titulo: {{item.titulo}} </ion-card-title>
   </ion-card-header>
   <ion-card-content>
 
   
    <ion-list lines="inset">
      <ion-item>
        <ion-label><strong>Descripcion</strong></ion-label>
        <ion-label>{{item.descripcion}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Formato</strong></ion-label>
        <ion-label>{{item.tipo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label><strong>Slug</strong></ion-label>
        <ion-label>{{item.slug}}</ion-label>
      </ion-item>
    </ion-list> 
   </ion-card-content>
  </ion-card> -->
 



<!-- export class Libro {
  titulo:string = "";
  precio:string = "";
  tipo:string="";
  descripcion:string="";
  slug:string="";
} -->
